* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

body {
    background-image: url('./images/imagem-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    opacity: 0.8;

}

#tela-cadastro{
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
}

#tela-cadastro h1 {
    text-align: center;
    padding: 20px;
}

#tela-cadastro .voltar {
    position: absolute;
    top: 30px;
    left: 15px;
    cursor: pointer;
}

#tela-cadastro #msgError {
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    transform: translateX(-85%);
    color: rgb(235, 43, 43);
    font-weight: bold;
    display: none;
}

#tela-cadastro #msgSuccess{
    position: absolute;
    top: 60px;
    left: 73%;
    width: 100%;
    transform: translateX(-50%);
    color: rgb(128, 209, 8);
    font-weight: bold;
    display: none;
}

#tela-cadastro #labelNome {
    font-size: 10px;
    position: absolute;
    left: 25px;
    top: 85px;
}

#tela-cadastro #labelUsuario {
    font-size: 10px;
    position: absolute;
    left: 25px;
    top: 130px;
}

#tela-cadastro #labelSenha {
    font-size: 10px;
    position: absolute;
    left: 25px;
    top: 180px;
}

#tela-cadastro #labelConfirmarSenha {
    font-size: 10px;
    position: absolute;
    left: 25px;
    top: 225px;
}

#tela-cadastro input {
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding:10px;
    margin: 10px auto;
    width: 90%;
    display: block;
}

#tela-cadastro input:focus {
    outline: none;
}

#tela-cadastro #icone-senha {
    position: absolute;
    top: 185px;
    right: 30px;
    cursor: pointer;
}

#tela-cadastro #icone-confirmar-senha {
    position: absolute;
    top: 232px;
    right: 30px;
    cursor: pointer;
}

#tela-cadastro #btn {
    border: 2px solid black;
    width: 30%;
    margin: 25px auto;
    border-radius: 5px;
    cursor: pointer;
} 

#tela-cadastro #btn:hover {
    background-color: gray;
    color: white;
    transition: 2s;
}